<!doctype html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Budget App</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $(function() {
    $("#tabs").tabs({
        'ajaxOptions': {
            'error': function(xhr, status, index, anchor) {
                $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
            }
        },
        'spinner': "Loading..."
    });
});
    </script>
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/style.css" rel="stylesheet">
    <script>
    .dropdown-toggle {
      background-color: red;
  }
</script>
  </head>

  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"> -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <h1>Budget</h1>

    <div id="tabs">
      <ul>
        <li><a href="#lst_bdg">Budgets</a></li>
        <li><a href="#add_bdg">Add budget</a></li>
        <li><a href="#del_bdg">Delete budget</a></li>
      </ul>
      <div id="add_bdg">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title mb-0">Entries</h2>
          </div>
          <div class="card-body">
          <form action="{{ url_for('add_budget') }}" method=post class=add-entry>
            <fieldset>
  
              <div class="form-group">
                <label for="cat" class="form-label mt-4"  >Choose an expanse category</label>
                <SELECT class="form-select" id="cat" name="title" class=kd_exp>
                  {% for k in kd_exp %}
                    <OPTION value="{{ k }}">{{ k }}</option>
                  {% endfor %}
                </SELECT>
                  <a href="../categories">
                    <button type="button" class="btn btn-primary">MODIFY CATEGORIES</button>
                  </a>
              </div>
              <div class="form-group">
                <label for="expenses" class="form-label mt-4"  >Value expanse</label>
                <input type=int class="form-control" id="expenses" name=expanses placeholder="expenses">
              </div>
                <div class="form-group">
                  <label for="comment" class="form-label mt-4"  >Title</label>
                  <dd><textarea class="form-control" id="comment" name=comment cols="3"></textarea>
              
  
                  <button type="submit" class="btn btn-primary">Store</button>
              </fieldset>
          </form>
        </div>
        </div>
        </div>
      <div id="del_bdg">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title mb-0">Delete Entries</h2>
          </div>
          <div class="card-body">
        <form action="{{ url_for('del_budget') }}" method=post class=del-entry>
          <div class="form-group">
            <label for="del" class="form-label mt-4"  >Choose an Entry to delete</label>
            <SELECT class="form-select" id="del" name="id_data" class=data>
              {% set n = data.id | length %}
              {% for k in range(n) %}
                <OPTION value="{{ data.id[k] }}">{{ data.title[k]}}</option>
              {% endfor %}
            </SELECT>
          </div>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      </div>
      </div>

      <div id="lst_bdg">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Categories</th>
                <th scope="col">Value</th>
                <th scope="col">Name</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <ul class=entries>
              <tbody>    
                {% for entry in entries %}
                  <tr class="table-primary">
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.value }}</i><span>&#8364;</span></td>
                        <td>{{ entry.name|safe }}</td>
                      <td>
                          <a href="{{ url_for('del_row_bdg', id_val=entry.id) }}"
                        onclick="return confirm('Do you want to permanently the row {{ entry.comment }}?');">
                        <button type="button" class="btn btn-sm btn-outline-danger">Delete</span>
                        </button></a>
                      </td>
                    </tr>
                {% else %}
                  <li><em>No entries here so far</em>
                {% endfor %}
              </tbody>
            </ul>
          </table>
    </div>

  </div>


    <div class="text-center">
        <a href="../">
          <button type="button" class="btn btn-primary">Dashboard</button>
        </a>
      </div>

</body>