{% extends "layout.html" %}
{% block body %}

<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function () {
    $('table.display').DataTable();
  });
</script>



<div id="wrapper">

  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-credit-card"></i>
      </div>
      <div class="sidebar-brand-text mx-3">My Budget</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fa fa-home fa-fw"></i>
        <span><strong>
            <font color=white>Dashboard</FONT>
          </strong></span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Connect
    </div>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        {% if not session.logged_in %}
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        {% else %}
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        {% endif %}
        Log In/Out
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <h6 class="collapse-header">Admin:</h6>
        {% if not session.logged_in %}
        <a class="collapse-item" href="{{ url_for('login.login') }}">Log In</a>
        {% else %}
        <a class="collapse-item" href="{{ url_for('login.logout') }}">Logout</a>
        {% endif %}
      </div>
    </li>
    {% if session.logged_in %}


    <hr class="sidebar-divider">

    <div class="sidebar-heading">
      Pages Budget
    </div>

    <li class="nav-item">
      <a class="nav-link" href="/data">
        <i class="fas fa-fw fa-table"></i>
        <span>
          <font color=white>Data</FONT>
        </span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/budget">
        <i class="fas fa-fw fa-table"></i>
        <span>
          <font color=white>Budget</FONT>
        </span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
      <a class="nav-link" href="/file_read">
        <i class="fa fa-file"></i>
        <span>
          <font color=white>File</FONT>
        </span></a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="/categories">
        <i class="fas fa-fw fa-table"></i>
        <span>
          <font color=white>Categories</FONT>
        </span></a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="/groceries">
        <i class="fa fa-shopping-basket"></i>
        <span>
          <font color=white>List Groceries</FONT>
        </span></a>
    </li>

  </ul>

  {% if not nodata %}

  <div id="tabs">
    <ul>
      <li><a href="#dash">Dashboard</a></li>
      <li><a href="#plots">Plot accross time</a></li>
      <li><a href="#bdg">Plot budgets</a></li>
    </ul>

    <div id="bdg">
      <div class="container-fluid">
        <div class="row">
          <div class="card-body">
            <div id='chart_bdg' class='chart'>
              <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
              <script>
                var graphs_bdg = {{ fig_bdg | safe}};
                Plotly.plot('chart_bdg', graphs_bdg, {});
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="plots">
      <div class="container-fluid">



        <!-- Content Row -->
        <div class="row">
          <div class="card-body">
            <div id='chart_bar' class='chart'>
              <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
              <script>
                var graphs_bar = {{ fig_bar | safe}};
                Plotly.plot('chart_bar', graphs_bar, {});
              </script>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card-body">
            <div id='chart_tot' class='chart'>
              <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
              <script>
                var graphs_tot = {{ fig_tot | safe}};
                Plotly.plot('chart_tot', graphs_tot, {});
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="dash">
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Solde: {{ solde }}</h1>
            <a href="/solde">
              <button type="button" class="btn btn-primary">Add Solde</button>
            </a>
            <form action="{{ url_for('home.show_entries') }}" method=post class=add-entry>
              <div class="form-group">
                <label for="account" class="form-label mt-4">Choose an Account</label>
                <SELECT class="form-select" id="account" name="account" class=account>
                  {% for k in accounts %}
                  {% if k == account_val %}
                  <OPTION selected="selected" value="{{ k }}">{{ k }}</option>
                  {% else %}
                  <OPTION value="{{ k }}">{{ k }}</option>
                    {% endif %}
                  {% endfor %}
                </SELECT>
              </div>
              <label for="bdaymonth">Choose Month and Year:</label>
              <input type="month" id="bdaymonth" name="bdaymonth" value="{{ date_val }}" {{ date_val }}>
              <button type="submit" class="btn btn-primary">Apply New Data</button>
            </form>

          </div>
          <div class="container-fluid">



            <!-- Content Row -->
            <div class="row">
              <div class="mx-auto" style="width: 200px;">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Expanses ({{ month }})</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ expanse_tot }}<span>&#8364;</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mx-auto" style="width: 200px;">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Incomes ({{ month }})</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ income_tot }}<span>&#8364;</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="card shadow mb-4">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Expanses ({{ month }})</div>
                  <div id='chart' class='chart' ”>
                    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
                    <script type='text/javascript'>
                      var graphs = {{ graphJSON | safe}};
                      Plotly.plot('chart', graphs, {});
                    </script>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="card shadow mb-4">
                  <h3 class="h3 mb-0 text-gray-800">Groceries List</h3>
                  <table class="display table" id="Grocery_id">
                    <thead>
                      <tr>
                        <th scope="col">Categories</th>
                        <th scope="col">Value</th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <ul class=groceries>
                      <tbody>
                        {% for entry in groceries %}
                        <tr class="table-primary">
                          <td>{{ entry.title }}</td>
                          <td>{{ entry.expanse }}</i><span>&#8364;</span></td>
                          <td>{{ entry.comment|safe }}</td>
                        </tr>
                        {% else %}
                        <li><em>No entries here so far</em>
                          {% endfor %}
                      </tbody>
                    </ul>
                  </table>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <div class="card shadow mb-4">
                  <h3 class="h3 mb-0 text-gray-800">Expanses</h3>
                  <table class="display table " id="">
                    <thead>
                      <tr>
                        <th scope="col">Categories</th>
                        <th scope="col">Value</th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <ul class=entries>
                      <tbody>
                        {% for entry in entries %}
                        <tr class="table-primary">
                          <td>{{ entry.title }}</td>
                          <td>{{ entry.expanses }}</i><span>&#8364;</span></td>
                          <td>{{ entry.comment|safe }}</td>
                        </tr>
                        {% else %}
                        <li><em>No entries here so far</em>
                          {% endfor %}
                      </tbody>
                    </ul>
                  </table>
                </div>
              </div>

              <div class="col-sm">
                <div class="card shadow mb-4">
                  <h3 class="h3 mb-0 text-gray-800">Incomes</h3>
                  <table class="display table" id="">
                    <thead>
                      <tr>
                        <th scope="col">Categories</th>
                        <th scope="col">Value</th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <ul class=incomes>
                      <tbody>
                        {% for val in incomes %}
                        <tr class="table-primary">
                          <td>{{ val.title }}</td>
                          <td>{{ val.income }}</i><span>&#8364;</span></td>
                          <td>{{ val.comment|safe }}</td>
                        </tr>
                        {% else %}
                        <li><em>No entries here so far</em>
                          {% endfor %}
                      </tbody>
                    </ul>
                  </table>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>




</div>

</div>
</div>




</div>

{% endif %}
{% endif %}

{% endblock %}