{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Choose an kind of expanse <SELECT name="title" class=kd_exp>
          {% for k in kd_exp %}
            <OPTION value="{{ k }}">{{ k }}</option>
          {% endfor %}
        </SELECT>
        <dt>Value expanse:
          <dd><input type=int size=30 name=expanses>
        <dt>Comment:
          <dd><textarea name=comment rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>

  <form action="{{ url_for('del_entry') }}" method=post class=del-entry>
		<h3>Choose an entry</h3> <SELECT name="id_data" class=data>
      {% set n = data.id | length %}
      {% for k in range(n) %}
        <OPTION value="{{ data.id[k] }}">{{ data.title[k]}}</option>
      {% endfor %}
		</SELECT>
    <dd><input type=submit value=Del>
    </form>

    <div class="center">
      <div class=expanse_tot>
        <h2>Total</h2><i>{{ expanse_tot }}</i><span>&#8364;</span>
      </div>
    </div>
    

{% endif %}
  
  <ul class=entries>
  {% for entry in entries %}
    <li><h3>{{ entry.title }}</h3><i>{{ entry.expanses }}</i><span>&#8364;</span>
      <br>{{ entry.comment|safe }}
    </li>
    
    
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  
{% endblock %}