{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
          <dd><input type=text size=30 name=title>
        <dt>Value expanse:
          <dd><input type=int size=30 name=expanses>
        <dt>Comment:
          <dd><textarea name=comment rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>


  
   
  <form action="{{ url_for('del_entry') }}" method=post class=del-entry>
      <dl>
	 
		<dt>Choose an entry <SELECT name="id_data" class=data>
	  <li><h2>{{ data }}
	  {% set n = data.id | length %}
		{% for k in range(n) %}
			<OPTION value="{{ data.id[k] }}">{{ data.title[k]}}</option>
		{% endfor %}
		</SELECT>
  
        <dd><input type=submit value=Del>
      </dl>
    </form>
{% endif %}
  
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2><i>{{ entry.expanses }}</i><span>&#8364;</span>
      <br>{{ entry.comment|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}