<!doctype html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Budget App</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#tabs" ).tabs();
    } );
    </script>
  </head>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <body>

    <div id="tabs">
      <ul>
        <li><a href="#exp">Expenses</a></li>
        <li><a href="#inc">Incomes</a></li>
      </ul>
    <div id="exp">
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Categories</th>
                <th scope="col">Value</th>
                <th scope="col">Comment</th>
                <th scope="col">Date</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <ul class=entries>
              <tbody>    
                {% for entry in entries %}
                  <tr class="table-primary">
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.expanses }}</i><span>&#8364;</span></td>
                        <td>{{ entry.comment|safe }}</td>
                        <td>{{ entry.date_exp|safe }}</td>
                      <td>
                          <a href="{{ url_for('del_row', id_val=entry.id) }}"
                        onclick="return confirm('Do you want to permanently the row {{ entry.comment }}?');">
                        <button type="button" class="btn btn-sm btn-outline-danger">Delete</span>
                        </button></a>
                      </td>
                    </tr>
                {% else %}
                  <li><em>No entries here so far</em>
                {% endfor %}
              </tbody>
            </ul>
          </table>
    </div>
    <div id="inc">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Categories</th>
              <th scope="col">Value</th>
              <th scope="col">Comment</th>
              <th scope="col">Date</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <ul class=incomes>
            <tbody>    
              {% for val in incomes %}
                <tr class="table-primary">
                      <td>{{ val.title }}</td>
                      <td>{{ val.income }}</i><span>&#8364;</span></td>
                      <td>{{ val.comment|safe }}</td>
                      <td>{{ val.date_exp|safe }}</td>
                    <td>
                        <a href="{{ url_for('del_row', id_val=val.id) }}"
                      onclick="return confirm('Do you want to permanently the row {{ val.comment }}?');">
                      <button type="button" class="btn btn-sm btn-outline-danger">Delete</span>
                      </button></a>
                    </td>
                  </tr>
              {% else %}
                <li><em>No entries here so far</em>
              {% endfor %}
            </tbody>
          </ul>
        </table>
  </div>

      <div class="text-center">
        <a href="../">
          <button type="button" class="btn btn-primary">Main</button>
        </a>
      </div>

</body>

