<!doctype html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Budget App</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#tabs" ).tabs();
    } );
    </script>
  </head>

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

     
    </style>

  <body>
    <h1>DATA</h1>
    <table class="table table-hover">
        <thead>
          <tr>

            <th scope="col">Categories</th>
            <th scope="col">Value</th>
            <th scope="col">Comment</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <ul class=entries>
          <tbody>    
            {% for entry in entries %}
              <tr class="table-primary">
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.expanses }}</i><span>&#8364;</span></td>
                    <td>{{ entry.comment|safe }}</td>
                    <td>{{ entry.date_exp|safe }}</td>
                  </tr>

            {% else %}
              <li><em>Unbelievable.  No entries here so far</em>
            {% endfor %}
          </tbody>
      </table>

</body>

